@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
    color: #1E1F41;
    overflow: hidden;
}
.shapes {
    position: relative;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1.title {
    font-family: 'Roboto', sans-serif;
    color: #1E1F41;
    text-align: center;
    margin: 0;
}
p.subtitle {
    font-family: 'Roboto', sans-serif;
    color: #1E1F41;
    text-align: center;
    margin: 0;
}

/* ==========================================================================
    Media Queries
========================================================================== */

@media only screen and (min-width: 320px) {
    h1.title {
        font-size: 30px;
    }
    p.subtitle {
        font-size: 16px;
    }
}

@media only screen and (min-width: 768px) {
    h1.title {
        font-size: 70px;
    }
    p.subtitle {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1140px) {
    h1.title {
        font-size: 100px;
    }
    p.subtitle {
        font-size: 24px;
    }
}